body {
    background-color: rgb(31, 161, 161);
}

.flashy {
    color: lightgoldenrodyellow;
}

.testing {
    /* background-image: url("/img/off4.jpeg"); */
    max-height: 200px;
    /* background-size: cover; */
    background-position: center;
}

.im {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row-first {
    height:50%;
    overflow: hidden;
}