body {
    background-color: rgb(59, 57, 57);
}

.flashy {
    color: lightgoldenrodyellow;
}

.testing {
    /* background-image: url("/img/off4.jpeg"); */
    max-height: 200px;
    /* background-size: cover; */
    background-position: center;
}

.im {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row-first {
    height:50%;
    overflow: hidden;
}

.darky {
    background-color: rgb(59, 57, 57);
}

.centeredel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.iconic {
    max-height: 70px;
}

.marg {
    margin: 20px 20px 50px 20px;
}