body {
    background: repeating-linear-gradient(black 40px, rgb(189, 189, 126) 90px);
    margin: 0;
}

.iconic {
    max-height: 70px;
}

.marg {
    margin: 20px 20px 50px 20px;
}

.parentcont {
    max-width: 720px;
    margin: 0 auto;
}

.devsoff {
    width: 100%;
}

.dar {
    background: repeating-linear-gradient(black 40px, rgb(189, 189, 126) 90px);
}

.mgr {
    background: linear-gradient(rgb(100, 5, 5), rgb(59, 57, 57));
}

.eng {
    background: linear-gradient(rgb(5, 68, 5), rgb(59, 57, 57));
}

.int {
    background: linear-gradient(rgb(11, 34, 110), rgb(59, 57, 57));
}

.employee-card {
    min-width: 234px;
}